<apex:page showHeader="false" sidebar="false" controller="SiteRegisterController" standardStylesheets="false">
    <html xmlns="http://www.w3.org/1999/xhtml">
        <head id="ctl00_Head1">
            <meta http-equiv="cache-control" content="no-store,no-cache" />
            <meta http-equiv="pragma" content="no-cache" />
            <meta http-equiv="expires" content="0" />
            <title>CreateUser</title>
        
            <c:Assests />
            
            <script>
                if(typeof jQuery != 'undefined'){
                           $j =jQuery.noConflict();
                }
                 
                 //2.ADDING AND REMOVING ERRORS ON PAGE
                function jq_addError(me,msg){
                    if(!($j(me).hasClass('error'))){
                        $j(me).addClass("error");
                        $j(me).parent().append("<div class='errorMsg'>" + msg + "</div>");
                     }
                     else{
                        $j(me).siblings('.errorMsg').remove();
                        $j(me).parent().append("<div class='errorMsg'>" + msg + "</div>");
                     }
                }
                
                function jq_removeError(me){
                    if($j(me).hasClass('error')){
                        $j(me).removeClass("error");
                        $j(me).siblings('.errorMsg').remove();
                     }          
                }
                
                //3.VALIDATE FOR REQUIRED BLANK FIELDS
                function validateFields(){
                    var b = true;
                    $j('.jq_req').each(function(){
                        if($j(this).val().length == 0){
                            jq_addError($j(this),"<b>Error:</b>This Field is required");
                            b = false;
                        }
                        else{
                            jq_removeError($j(this));
                        }              
                    });
                    return b;
                }
                
            </script> 
            
            <style>
                .errorMsg{
                    color:#FF0000;
                    font-size:0.7em;
                    margin-left: 10px;
                }
            </style>

        </head>
        
        <script>
            if (top.frames.length != 0)
                top.location = self.document.location;
        </script>
        
        <body class="VSBody" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;">
            <table id="CSRMainTable" class="VSMainTable" style="width: 100%; height: 100%">
                 <c:Header tab="register"/>
                <tr>
                    <td id="CWIUserNoticeText" style="padding: 0px 0px 0px 0px; width: 100%">
                        
                        <table id="CWIUserNotice" cellspacing="0" cellpadding="0" align="left" border="0">
                            <tr>
                                <td align="left">
                                    <table>
                                        <tr>
                                            <td>
                                                
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td id="middleRowTd" width="100%">
                        <table class="VSInnerTable" style="padding-left: 0px; width: 100%; height: 100%">
                            <tr>
                                <td id="PlaceHolderCell" style="vertical-align: top; padding-left: 0px; width: 80%;
                                    min-height: 350px; height: 100%">
                                    
                                   <apex:form forceSSL="true">
                                    <div id="_TableDIV">
                                        <table id="tblCreateUser" class="MainTable" width="100%" summary="table">
                                            <tr>
                                                <td class="tdHeader">
                                                    <span class="fsHeader">
                                                        Create an Account</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img alt="Hint Image" src="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/Symbol_Information_2_x00v200.png')}" />
                                                    <span class="fsPageDescription" >
                                                        Registering allows you to track your service requests. It also allows you to store templates to easily request repeat services.
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr class="trLabelVSpace">
                                                <td align="left" nowrap="nowrap" colspan="7" style="padding-left: 27px;">
                                                    <table style="vertical-align: bottom" height="100%">
                                                        <tr>
                                                            <td width="115px">
                                                            </td>
                                                            <td class="fsLabel VSHintTextItalic" style="vertical-align: bottom">
                                                                <input id="hdnError" name="hdnError" type="hidden" value="" />
                                                                
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr class="trLabelVSpace">
                                            </tr>
                                            <tr>
                                                <td align="left" nowrap="nowrap" colspan="6" style="padding-left: 25px;">
                                                    <table id="ctl00_MainContent_tblPersonalInfo" width="70%" border="0">
                                                        <tr class="trLabelVSpace">
                                                            <td align="right" nowrap="nowrap" class="messagingNormalFont" width="110px">
                                                                <span id="ctl00_MainContent_lblEmail" class="fsLabel uiFormViewLabel" style="display:inline-block;width:100px;">* Email Address</span>
                                                            </td>
                                                            <td class="VSControlSpace" width="180px">
                                                                <label for="tbxEmail">
                                                                    &nbsp;<!--<input id="Email" name="Email" style="width:185px; text-transform:uppercase" type="text" value="" />-->
                                                                    <apex:inputText id="Email"  style="width:185px; text-transform:uppercase" value="{!Email}" styleClass="jq_req" required="false"></apex:inputText>
                                                                    <span class="hint">This will be your username to access your account. Please enter a valid email address. </span>
                                                                </label>
                                                            </td>
                                                            <td width="85%" class="fsLabel VSHintTextItalic">&nbsp;</td>
                                                        </tr>
                                                        <tr class="trLabelVSpace"></tr>
                                                        <tr class="trLabelVSpace">
                                                            <td class="messagingNormalFont" align="right" width="110px">
                                                                <span id="ctl00_MainContent_lbl" class="fsLabel uiFormViewLabel" style="display:inline-block;width:100px;">* Password</span>
                                                            </td>
                                                            <td id="ctl00_MainContent_tdControlPassword" class="VSControlSpace" width="180px">
                                                                <label for="tbxPassword">
                                                                    &nbsp;<!--<input AUTOCOMPLETE="off" id="Password" name="Password" type="password" />-->
                                                                    <apex:inputSecret id="Password"   value="{!Password}" styleClass="jq_req" required="false"></apex:inputSecret>
                                                                    <span class="hint" id="hintPwd">The password can be any combination of characters. The
                                                                        password is case sensitive.</span>
                                                                </label>
                                                            </td>
                                                            <td width="85%" class="fsLabel VSHintTextItalic">&nbsp;</td>
                                                        </tr>
                                                        <tr class="trLabelVSpace"></tr>
                                                        <tr class="trLabelVSpace">
                                                            <td id="ctl00_MainContent_tdControlPassword1" class="messagingNormalFont" align="right" width="110px">
                                                                <span id="ctl00_MainContent_lblRetypePassword" class="fsLabel uiFormViewLabel" style="display:inline-block;width:100px;white-space: normal">* Re-Type Password</span>
                                                            </td>
                                                            <td id="ctl00_MainContent_td2" class="VSControlSpace" width="180px">
                                                                <label for="tbxRetypePassword">
                                                                    &nbsp;<!--<input AUTOCOMPLETE="off" id="RetypePassword" name="RetypePassword" type="password" />-->
                                                                     <apex:inputSecret id="RetypePassword"  value="{!RetypePassword}" styleClass="jq_req" required="false"></apex:inputSecret>
                                                                </label>
                                                            </td>
                                                            <td width="85%" class="fsLabel VSHintTextItalic">
                                                                
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    </table>                                                        
                                                </td>
                                            </tr>
                                            <tr class="trLabelVSpace">
                                                <td align="left" nowrap="nowrap" colspan="7" style="padding-left: 27px;">
                                                    <table style="vertical-align: bottom" height="100%">
                                                        <tr>
                                                            <td width="115px">
                                                            </td>
                                                            <td class="fsLabel VSHintTextItalic" style="vertical-align: bottom">
                                                                
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width="115px">
                                                            </td>
                                                            <td class="fsLabel VSHintTextItalic" style="vertical-align: bottom">
                                                                
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" nowrap="nowrap" colspan="7" style="padding-left: 25px;">
                                                    <table id="ctl00_MainContent_tblResourceNames" class="VSInnerTable" width="70%">
                                                        <tr class="trLabelVSpace">
                                                            <td width="110px">&nbsp;</td>
                                                            <td class="messagingNormalFont" nowrap="nowrap" width="40px">
                                                                &nbsp;&nbsp;<span id="ctl00_MainContent_lblPrefixName" class="messagingNormalFont fsLabel">Prefix</span>
                                                            </td>
                                                            <td class="messagingNormalFont" nowrap="nowrap" width="180px">
                                                                &nbsp;<span id="ctl00_MainContent_lblFirstName" class="messagingNormalFont fsLabel uiFormViewLabel">* First</span>
                                                            </td>
                                                            <td class="messagingNormalFont" nowrap="nowrap" width="40px">
                                                                &nbsp;<span id="ctl00_MainContent_lblMiddleName" class="messagingNormalFont fsLabel">M.I.</span>
                                                            </td>
                                                            <td class="messagingNormalFont" nowrap="nowrap" width="180px">
                                                                &nbsp;<span id="ctl00_MainContent_lblLastName" class="fsLabel uiFormViewLabel">* Last</span>
                                                            </td>
                                                            <td class="messagingNormalFont" nowrap="nowrap" width="40px">
                                                                &nbsp;&nbsp;<span id="ctl00_MainContent_lblSuffixName" class="fsLabel">Suffix</span>
                                                            </td>
                                                            <td width="85%">&nbsp;</td>
                                                        </tr>
                                                        <tr class="trLabelVSpace">
                                                            <td align="right" nowrap="nowrap" class="messagingNormalFont" width="110px">
                                                                <span id="ctl00_MainContent_lblResourceNamesLegend" class="fsLabel uiFormViewLabel" style="display:inline-block;width:100px;">Name</span>
                                                            </td>
                                                            <td class="VSControlSpace" width="40px">
                                                                <label for="tbxPrefixName">
                                                                    <!--<input id="NamePrefix" name="NamePrefix" style="width:40px;margin-left:3px;text-transform:uppercase" type="text" value="" />-->
                                                                    <apex:inputText id="NamePrefix"  style="width:40px;margin-left:3px; text-transform:uppercase"></apex:inputText>
                                                                </label>
                                                            </td>
                                                            <td class="VSControlSpace" width="180px">
                                                                <label for="tbxFirstName">
                                                                    <!--<input id="NameFirst" name="NameFirst" style="width:180px; text-transform:uppercase" type="text" value="" />-->
                                                                    <apex:inputText id="NameFirst" style="width:180px; text-transform:uppercase" value="{!NameFirst}" styleClass="jq_req" required="false"></apex:inputText>
                                                                </label>
                                                            </td>
                                                            <td class="VSControlSpace" width="40px">
                                                                <label for="tbxMiddleName">
                                                                    <!--<input id="NameMiddle" name="NameMiddle" style="width:40px; text-transform:uppercase" type="text" value="" />-->
                                                                    <apex:inputText id="NameMiddle"  style="width:180px; text-transform:uppercase"></apex:inputText>
                                                                </label>
                                                            </td>
                                                            <td class="VSControlSpace" width="180px">
                                                                <label for="tbxLastName">
                                                                    <!--<input id="NameLast" name="NameLast" style="width:180px; text-transform:uppercase" type="text" value="" />-->
                                                                    <apex:inputText id="NameLast"  style="width:180px; text-transform:uppercase" value="{!NameLast}" styleClass="jq_req" required="false"></apex:inputText>
                                                                </label>
                                                            </td>
                                                            <td class="VSControlSpace" width="40px">
                                                                <label for="tbxSuffixName">
                                                                    <!--<input id="NameSuffix" name="NameSuffix" style="width:40px; text-transform:uppercase" type="text" value="" />-->
                                                                    <apex:inputText id="NameSuffix"  style="width:40px; text-transform:uppercase"></apex:inputText>
                                                                </label>
                                                            </td>
                                                            <td width="85%">&nbsp;</td>
                                                        </tr>
                                                    </table>                                                        
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" nowrap="nowrap" colspan="6" style="padding-left: 25px">
                                                    <table id="ctl00_MainContent_tblLEC" width="70%" border="0">
                                                        <tr>
                                                            <td colspan="2">                              

                                                                <input id="Address_SuggestPrefix" name="Address.SuggestPrefix" type="hidden" value="Address" />
                                                                <input id="Address_DisplayAddress" name="Address.DisplayAddress" type="hidden" value="" />
                                                                <input id="Address_Details" name="Address.Details" type="hidden" value="" />
                                                                <input id="Address_RelatedTableCode" name="Address.RelatedTableCode" type="hidden" value="RESINST" />
                                                                <input id="Address_SuggestServiceMethod" name="Address.SuggestServiceMethod" type="hidden" value="" />
                                                                <input id="Address_StreetAddressLength" name="Address.StreetAddressLength" type="hidden" value="" />
                                                                <input id="Address_LocationRequiredIND" name="Address.LocationRequiredIND" type="hidden" value="N" />
                                                                    
                                                                    <table>
    
                                                                        <tr id="trMapNextButton" style="display:none;">
                                                                            <td colspan="2">
                                                                                <input id="btnNext" class="uiButton" value="Next Step" type="submit" name="btnNext"/> 
                                                                            </td>
                                                                        </tr>
    

                                                                        <tr class="trLabelVSpace" style="padding-bottom: 10px; padding-top: 10px" valign="top">
                                                                            <td align="right" nowrap="nowrap" class="messagingNormalFont" width="104px" style="vertical-align: top;
                                                                                padding-top: 5px; padding-right: 4px">
                                                                                <span id="8_lblAddressReqN" class="fsLabel uiFormViewLabel" style="display:inline-block;width:100px;padding-top: 17px">Address</span>
                                                                                 
                                                                            </td>
                                                                            <td>
                                                                                <table id="addressTable">
                                                                                    <tr id="addressRow">
                                                                                        <td id="tdAddress">
                                                                                            <span id="8_lblStreetAddress" class="fsLabel" style="display:inline-block;width:100px;">Street Address</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td colspan="3">
                                                                                            <!--<input id="Address_StreetAddress" name="Address.StreetAddress" onChange="javascript:submitQuery();" style="width:px; text-transform:uppercase" type="text" value="" />-->
                                                                                                  <apex:inputText id="Address_StreetAddress"  value="{!Address_StreetAddress}" onChange="javascript:submitQuery();" style="width:px; text-transform:uppercase"></apex:inputText>      
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <table style="border-collapse: separate">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <div>
                                                                                                                <span id="8_lblCity" class="fsLabel" style="display:inline-block;width:135px;">City</span>
                                                                                                                <div>
                                                                                                                    <!--<input id="Address_City" name="Address.City" style="width:125px; text-transform:uppercase" type="text" value="WASHINGTON" />-->
                                                                                                                    <apex:inputText id="Address_City"  value="{!Address_City}" style="width:125px; text-transform:uppercase"></apex:inputText>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                        <td>
                                                                                                            <div>
                                                                                                                <span id="8_lblCounty" class="fsLabel" style="display:inline-block;width:50px;">State</span>
                                                                                                                <div>
                                                                                                                    <!--<input id="Address_State" maxlength="2" name="Address.State" style="width:40px; text-transform:uppercase" type="text" value="DC" />-->
                                                                                                                    <apex:inputText id="Address_State"  value="{!Address_State}" style="width:40px; text-transform:uppercase"></apex:inputText>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                        <td style="text-align: left" valign="top">
                                                                                                            <div>
                                                                                                                <span id="8_lblZipCode" class="fsLabel" style="display:inline-block;width:100px;">Zip Code</span>
                                                                                                            </div>
                                                                                                            <!--<input id="Address_Zip" name="Address.Zip" style="width:100px; text-transform:uppercase" type="text" value="" />-->
                                                                                                            <apex:inputText id="Address_Zip"  value="{!Address_Zip}" style="width:100px; text-transform:uppercase"></apex:inputText>
                                                                                                            
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
               
                                                                                    <tr id="LET_let_row4">
                                                                                        <td>
                                                                                            <table style="border-collapse: separate">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td>
                                                                                                            <div>
                                                                                                                <span id="8_lblBuilding" class="fsLabel VSHintTextItalic" style="display:inline-block;width:160px;">Building</span>
                                                                                                                <div>
                                                                                                                    <!--<input class="VSTextBox" id="Address_Building" name="Address.Building" style="width:150px" type="text" value="" />-->
                                                                                                                    <apex:inputText styleClass="VSTextBox" id="Address_Building" style="width:150px"></apex:inputText>
                                                                                                                    
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                            <td>
                                                                                                                <div>
                                                                                                                    <span id="8_lblFloor" class="fsLabel VSHintTextItalic" style="display:inline-block;width:50px;">Floor</span>
                                                                                                                    <div>
                                                                                                                       <!-- <input class="VSTextBox" id="Address_Floor" name="Address.Floor" style="width:40px" type="text" value="" />-->
                                                                                                                        <apex:inputText styleClass="VSTextBox" id="Address_Floor" style="width:40px"></apex:inputText>
                                                                                                                        
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                            <td>
                                                                                                                <div>
                                                                                                                    <span id="8_lblUnit" class="fsLabel VSHintTextItalic" style="display:inline-block;width:100px;">Unit</span>
                                                                                                                    <div>
                                                                                                                        <!--<input class="VSTextBox" id="Address_Unit" name="Address.Unit" style="width:80px" type="text" value="" />-->
                                                                                                                        <apex:inputText styleClass="VSTextBox" id="Address_Unit" style="width:80px"></apex:inputText>
                                                                                                                        
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>        
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                    <tr class="trLabelVSpace">
                                                        &nbsp;
                                                    </tr>
                                                    <tr>
                                                        <td align="left" nowrap="nowrap" colspan="6" style="padding-left: 25px;">
                                                            <table id="ctl00_MainContent_tblPhoneEmail" width="70%" border="0">
                                                                <tr class="trLabelVSpace">
                                                                    <td align="right" nowrap="nowrap" class="messagingNormalFont" width="110px">
                                                                        <span id="ctl00_MainContent_lblPhone" class="fsLabel uiFormViewLabel" style="display:inline-block;width:100px;">Phone</span>
                                                                    </td>
                                                                    <td class="VSControlSpace" width="180px">
                                                                        <label for="tbxPhone">
                                                                            &nbsp;<!--<input id="Phone" name="Phone" type="text" value="" />-->
                                                                            <apex:inputText id="Phone"  value="{!Phone}"></apex:inputText>
                                                                        </label>
                                                                    </td>
                                                                    <td width="85%">&nbsp;</td>
                                                                </tr>
                                                                <tr class="trLabelVSpace"></tr>
                                                                <tr class="trLabelVSpace">
                                                                    <td id="ctl00_MainContent_tdPhoneExt" nowrap="nowrap" align="right" class="messagingNormalFont" width="110px">
                                                                        <span id="ctl00_MainContent_lblPhoneExt" class="fsLabel uiFormViewLabel" style="display:inline-block;width:100px;">Ext.</span>
                                                                    </td>
                                                                    <td class="VSControlSpace" width="180px">
                                                                        <label for="tbxPhoneExt">
                                                                            &nbsp;<!--<input id="PhoneExt" name="PhoneExt" type="text" value="" />-->
                                                                            <apex:inputText id="PhoneExt"  value="{!PhoneExt}"></apex:inputText>
                                                                        </label>
                                                                    </td>
                                                                    <td width="85%">&nbsp;</td>
                                                                </tr>
                                                                <tr class="tr_VerticalSpacing">
                                                                    <td>
                                                                     </td>
                                                                </tr>
                                                                <tr class="tr_VerticalSpacing">
                                                                    <td> &nbsp;</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="2"></td>
                                                                    <td align="left" width="100%" colspan="2">
                                                                        <table id="tblButtons" class="VSInnerTable" width="100%" summary="Table" cellpadding="0"
                                                                                                cellspacing="0">
                                                                            <tr>
                                                                                <td class="VSDefaultBoldBody" align="left" width="100%" valign="top" style="padding-left: 125px">
                                                                                    <label for="imgbtnSaveAndCreateNew">
                                                                                        <!--<input type="submit" value="Register" class="uiButton" />-->
                                                                                        <apex:commandButton action="{!registerUser}" value="Register" onclick="return validateFields();"/>
                                                                                        &nbsp;</label>
                                                                                    <label for="imgbtnCancel">
                                                                                        <input name="ctl00$MainContent$btnCancel" type="button" id="ctl00_MainContent_btnCancel" class="uiButton" value="Cancel" onclick="window.location=window.location.href;" /></label>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td colspan="2">
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr class="tr_VerticalSpacing">
                                                        <td>
                                                        </td>
                                                    </tr>
                                                    <tr class="tr_VerticalSpacing">
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </apex:form>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <c:Footer />
            </table>      
        </body>
    </html>
   
</apex:page>