<apex:page id="loginPage" showHeader="false">
  
    <apex:define name="body">  
    <c:Header tab="login"></c:Header>
      <center>
        <apex:panelGrid bgcolor="white" columns="1" > 
          <br/>
          <br/>
          <apex:panelGrid width="758" cellpadding="0" cellspacing="0" bgcolor="white" columns="1" styleClass="topPanelContainer"> 
            <br/>
            <apex:outputPanel layout="block" styleClass="topPanel">
              <apex:panelGrid width="758" cellpadding="0" cellspacing="0" bgcolor="white" columns="2"> 
                <apex:image url="{!URLFOR($Resource.SiteSamples, 'img/clock.png')}"/>
                <apex:panelGroup >
                  <br/>
                  <apex:outputText styleClass="title" value="{!$Label.site.login}"/>
                  <br/>
                  <c:SiteLogin id="siteLogin"/>
                  <br/>
                </apex:panelGroup>
              </apex:panelGrid> 
             </apex:outputPanel>
            
          </apex:panelGrid> 
       </apex:panelGrid>
       <c:Footer ></c:Footer>
      </center>
      <br/>
      
    </apex:define>
  
</apex:page>