<apex:component >          

     <apex:stylesheet value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/MotCss_x00v200.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/Site_x00v200.css')}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript" ></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    
    <apex:includeScript value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/map.js')}"/>    
    
    <apex:stylesheet value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/jquery.ui.all.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/jquery.ui.base.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/jquery.ui.theme.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/demos.css')}"/>
   
    <apex:includeScript value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/jquery.ui.core.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/jquery.ui.widget.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/jquery.ui.mouse.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/jquery.ui.datepicker.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.OUC_Assests, 'OUC_Assests/Search_x00v200.css')}"/>      
    
   
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</apex:component>