<apex:component >
  <tr style="vertical-align:bottom">
    <td style="padding: 0px 0px 0px 0px; width: 100%">
            
        <div id="divCWIFooter" class="">
            <P id="footer" style="margin:0px;margin-top:20px">&copy; 2010-2014 Incapsulate, Inc. All rights reserved. </P>
        </div>
    </td>
   </tr>
</apex:component>